{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="mx-auto mt-5" style="width: 400px;">
    <h1 class="text-center">{% trans "Регистрация" %}</h1>

    <p class="text-center">{% blocktrans %}Уже есть аккаунт? <a href="{{ login_url }}">Вход</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
        <div class="d-flex justify-content-center">
            <button class="mt-3 btn btn-primary" type="submit">{% trans "Зарегистрироваться" %}</button>
        </div>
    </form>
</div>


{% endblock %}