{% extends 'base.html' %}
{% block content %}

    <div class = "links-menu">
        <h3><a href="#" class="text-white bg-dark">Project routs</a></h>
    
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <a class="nav-link" href="admin/">Admin Panel</a>
        </li>
        <li class="list-group-item">
        <a class="nav-link" href="docs/">Documentation</a>
        </li>
        <li class="list-group-item">
        <a class="nav-link" href="api/v1/">API</a>
        </li>
        <li class="list-group-item">
        <a class="nav-link" href="openapi/">OpenAPI scheme</a>
        </li>
        <li class="list-group-item">
        <a class="nav-link" href="api/v1/mailings/">Create a mailing</a>
        </li>
        <li class="list-group-item">
        <a class="nav-link" href="api/v1/clients/">Create a Client</a>
        </li>
        </ul>
    </div> 

{% endblock %}